body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: white; 
}

ul {
    list-style-type:lower-roman square;
    margin-left: 20px;
    padding: 0;
}

li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: #555;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a:hover {
    color: #005599;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
}

#testfix {
    display: flex;
    justify-content: left;
}

.disappearfix  {
    margin: 0.1rem;
}

input[type="text"] {
    width: 95%;
    height: 50px;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#darkModeToggle {
    padding: 10px 96px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

#darkModeToggle:hover {
    background-color: #218838;
}

#darkModeToggle {
    background-color: #f5f5f5;
    color: #333;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

tr,
td,
th
{
    border: 2px solid #000;
    padding: 8px;
}
